*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/CLASE01/PedidoApp/nbproject/private/
/CLASE01/PedidoApp/build/
/CLASE02/AprendiendoJava/nbproject/private/
/CLASE02/AprendiendoJava/build/
/CLASE02/PagoApp/nbproject/private/
/CLASE02/PagoApp/build/
/CLASE02/Michael/viaexitos/build/
/CLASE02/Michael/viaexitos/nbproject/private/
/Michael/Lec03_Sobrecarga/Perulib/nbproject/private/
/Michael/Lec03_Sobrecarga/SSlib/build/
/Michael/Lec03_Sobrecarga/SSlib/dist/
/Michael/Lec03_Sobrecarga/SSlib/nbproject/private/
/Michael/Lec03_Sobrecarga/UsoSSlib/build/
/Michael/Lec03_Sobrecarga/UsoSSlib/nbproject/private/
/Michael/Lec03_Sobrecarga/Perulib/build/
/Michael/Edutec/nbproject/private/
/Michael/Edutec/build/
/CLASE02/EduTecLib/nbproject/private/
/CLASE02/EduTecLib/build/
/CLASE02/EduTecLib/dist/
/CLASE02/EduTecApp/nbproject/private/
/CLASE02/EduTecApp/build/
/CLASE03/MateApp/nbproject/private/
/CLASE03/MateApp/build/
/CLASE03/AprendiendoJava/nbproject/private/
/CLASE03/AprendiendoJava/build/
/CLASE03/VentaApp/nbproject/private/
/CLASE03/VentaApp/build/
/CLASE04/AprendiendoJava/nbproject/private/
/Trabajos/Ore - Pariona/Calificaciones/build/
/Trabajos/Ore - Pariona/Calificaciones/nbproject/private/
/Trabajos/Ore - Pariona/ConsolidadNotas/build/
/Trabajos/Ore - Pariona/ConsolidadNotas/nbproject/private/
/Trabajos/Maximiliano/2parcial/build/
/Trabajos/Maximiliano/2parcial/nbproject/private/
/Trabajos/Maximiliano - Marvin/Ventas/build/
/Trabajos/Maximiliano - Marvin/Ventas/nbproject/private/
/Trabajos/Maximiliano - Marvin/Examen/build/
/Trabajos/Maximiliano - Marvin/Examen/nbproject/private/
/Trabajos/Maximiliano - Marvin/Registro/build/
/Trabajos/Maximiliano - Marvin/Registro/nbproject/private/
/Trabajos/Maximiliano - Marvin/Notas/build/
/Trabajos/Maximiliano - Marvin/Notas/nbproject/private/
/Trabajos/Maximiliano - Iberico/Notas/build/
/Trabajos/Maximiliano - Iberico/Notas/nbproject/private/
/CLASE04/AprendiendoJava/build/
/Trabajos/Gutierrez/SumaVista/build/